<h1>DBZ Main Page</h1>
<hr>

<div class="row">
  <div class="col">
    <h4>Listado</h4>
    <ul class="list-group">
      <li class="list-group-item">Krillin - 500</li>
      <li class="list-group-item">Goku - 10,000</li>
    </ul>
  </div>
  <div class="col">
    <h4>Agregar a Personaje</h4>
    <form class="row">
      <input type="text" name="" id="" placeholder="Nombre" class="form-control mb-2">
      <input type="number" name="" id="" placeholder="Poder" class="form-control mb-2">
      <button type="submit" class="btn btn-primary">Agregar Personaje</button>
    </form>
  </div>
</div>